.logo__container{
    display: flex;
    cursor: pointer;
    width:100vw;
    height: 600px;
    position: relative;
    background-color: black;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    

  

}
.logo__section{
    height: clamp(100px, 100%, 300px);
    width:clamp(33px, 100%, 200px);
    position: relative;
  
    
}
.logo__section:nth-child(2){

    width:clamp(33px, 100%, 150px);
}

.logo__section:nth-child(3){

   width:clamp(33px, 100%, 100px);
    transform: translateX(20%);
}
.logo__section:nth-child(4){

    transform: translateX(30%);
    width:clamp(33px, 100%, 100px);
}



/* CHILDREN */


.red__circle{
    height: 40%;
    width: 120px;
    background-color: #BC2E34;
    border-radius: 50%;
    position: relative;
 
}
.large__green__circle{

    position: relative;
    height:60%;
    width: 180px;

    background-color: #1C5934;
    border-radius: 50%;
}
.orange__circle{

    height: 65px;
    width: 65px;
    background-color: #E2412B;
    border-radius: 50%;
    

}
.orange__circle:nth-child(1){

    transform: translateX(-15%);
}



.yellow__rectangle{

    height: 300px;
    width: 65px;
    background-color: #EA8911;
}
.small__green__circle{

    position: relative;
    height: 65px;
    width: 65px;
    background-color: #1C5934;
    border-radius: 50%;
}
.yellow_quarter__circle{
    background-color: #EA8911;
    position: relative;
    height: 105px;
    width: 105px;
    border-radius: 1px;
    border-radius:  0 0  150px 0;
    


}
.half__red__circle{
    position: relative;
    height: 195px;
    width: 105px;
    border-radius: 0 150px 150px  0;
    background-color: #BC2E34;
   

}

.noise{
    background-image: url(noise.png);
    background-blend-mode: overlay ;
    filter: saturate(1.1); 
    background-size: contain;

}
@media (max-width: 600px) {

    .logo__container{
        width: 90vw;
        height: 100px;
        padding: 20%;
        min-width: 100%;
        border-radius: 7px;
     
     
    }

    .logo__section{

        height: inherit;
        width: 60px;
    }


    .logo__section:nth-child(2){

        height: inherit;
        width: 40px;
        /* margin-right:2%; */
    }

    .logo__section:nth-child(3){
        width: 33px;
    }

    .logo__section:nth-child(4){

        width: 33px;
    }
    

        
    .red__circle{

        height: 40%;
        width:  65% ;

     
    }
    .large__green__circle{
    
   
        height:60%;
        width:100%;

    }
    .orange__circle:nth-child(1){

        transform: translateX(-10%);

    
    }
    .orange__circle{
    
        height: 20%;
        width: 50%;

        
     
    
    }
    .orange__circle:nth-child(2){
    
        height: 20%;
        width:60%;

        
     
    
    }
    

    
    .yellow__rectangle{
    
        height: 100%;
        width: 40%;
       
    }
    .small__green__circle{
        height: 20%;
        width: 60%;
    
    }
    .yellow_quarter__circle{
   
     width: 100%;
      
        
    
    
    }
    .half__red__circle{
       width: 100%;
        
  
       
    
    }
    .noise{

        background-size: cover;
    }

}