
   
    .btn{
        width: 100px;
        height: 35px;
        display: flex;
        right:25px;
        border: none;
        bottom:100px;
        z-index: 9999;
        position: fixed;
        color: white;
        justify-content: center;
        align-items: center;
        border-radius: 5%;      
        backdrop-filter: blur(10px);
        background-color:  #2E332F;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    }

    h3{
        opacity:80%;
        font-weight: 400;
        font-family: 'VT323', monospace;;
    }
        

   .hidden{
    opacity: 0;

   }