.about__container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 175px;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
    

    }
  
    @media (max-width: 600px) {
        .about__container{
            position: relative;
            padding-top:50px;
            margin: 0;
            height: auto;
            width: 100vw;
          
        }
    }