.home__container{
    display: flex;
    overflow-x: hidden;
    width: 100vw;
    height: auto;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    
    }

    @media (max-width: 600px) {
        .home__container{

            padding-top:50px;
            margin: 0;
            /* background-color: red; */
          
        }


    }
