
.carousel__img{
        width: 500px;
        height: auto;

        
}
.carousel{

        height: 500px;
        width: 500px;
        border-radius: 10px;
        margin: 50px;
    
}
.image__container{

        margin:50px;
        padding:50px
}