.menu_container{
    z-index: 99999;
    top:0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    
   
}

@media (max-width: 600px) {

    .menu_container{
        box-sizing: border-box;
        z-index: 99999;
        position: relative;
        align-self: flex-end;
        height: fit-content;
        transform: translate(-30%, 10%);

        
    }


}