.social_links_container{

  display: flex;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;


}
.icon_container{

  display: flex;
  position: relative;
  height: fit-content;
  width:fit-content;
  padding:10px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
 

}

.social_link{
   font-size: 18px;
  

}

.icon_container svg {
    width: 20px;
    height: 20px;
    opacity: 1;
    transition: .5s;
    margin: 0;
   


  }
  
  


@media (max-width: 600px) {

.social_links_container{
    position: relative;
    width: 100%;
  
  
   
   

   
}
.icon_container{

  padding: 0px 0px 0px 0px;
 

 
}
.icon_container svg {
  width: 20px;
  height: 20px;


}

}