.contact__content__container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'one two'
                        'three four'
                        'five six';

    place-items: center;
    height:auto;
    width:90vw;
    column-gap:20px;
   
 
}

.form{

    grid-area: three;

}

.form_header{

    width: 100%;
    color: black;
    padding: 5%;
    background-color: rgb(224, 220, 220);
    margin-block: 10%;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    grid-area: one;

}
.form_header h1{
    width: 100%;
    font-size: 34px;
    font-weight: 700;
    line-height: 30px;
 
}
.form_header h1 span{
   
    text-align: center;
    line-height: 50px;
}

 .form_header p{
    text-align: left;
    line-height: 24px;
    text-indent: 10%;
    }

.email{

    font-size:18px;
    font-weight: 400;
}
.email:hover{
  
    color: #181818;
    opacity: .9;
}
.contact{
    grid-area: five;
    color:#181818;
    height: 300px;
    font-size: 18px;
    background-color: rgb(202, 188, 175);
    width: 100%;
    padding: 5%;
    margin: 10%;
    border-radius: 3px;
 
 
}
.digital_spaces{
    width: 100%;
    background-color: rgb(225, 223, 223);
    grid-area: six;
    padding:5%;
    margin: 10%;
    height: 300px;
    border-radius: 3px;

}
.digital_spaces h4{
    font-size: 24px;

    
}
@media (max-width: 600px) {
 .contact__content__container{
    
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 5%;

 }

.email{

    font-size: 18px;
}
.form{

    width: 100vw;
    padding-inline: 2%;
}

.form_header{
    padding: 5%;
    padding-bottom: 10%;
    color: black;
    width: 95vw;
}
.form_header p{
    text-indent: 7%;
    }


.contact, .digital_spaces{

    margin: 5%;
}



}