.footer_container {
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding: 100px 100px 100px 100px;
    height: auto;
    position: relative;
    background-color:hsla(200,5%,8%,1);
    background-image:
    radial-gradient(at 23% 21%, hsla(289,31%,6%,1) 0px, transparent 50%),
    radial-gradient(at 67% 75%, hsla(223,30%,6%,1) 0px, transparent 50%),
    radial-gradient(at 74% 49%, hsla(230,70%,6%,1) 0px, transparent 50%);
    row-gap: 20px;
   
   
    
  }
  .footer_container::after{

    content: '';
    width: 100vw;
    height: 2px;
    background-color: var(--gold);
    opacity: 0.7;
    position: absolute;
    top:0;

  }

 ul{
    display: flex;
    list-style: none;
    max-width: fit-content;
 
 }
 .footer__text{
    font-size: 14px;
    color: #f6f6f6;
    font-style: normal;
    text-align: center;
 }
.footer_cta{

  color:var(--gold);
  font-size: 24px;
  text-align: center;
   margin-inline: 10%;
}

 @media (max-width: 1024px) {
    .footer__container{
    flex-direction: column;
  }
}


    
@media (max-width: 600px) {

    .footer_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        bottom: 0;
        width: 100vw;
        align-items: center;
    }

    .footer__text{
        font-size: 10px;
        color: #f6f6f6;
        text-justify: center;
        font-style: normal;
     
    }
    .footer_cta{

      font-size: 18px;
     
    }



}

