
.navbar_container {

    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 0;
    list-style: none;
    width: 100%;
    top:0;
    position: fixed;
    height: 175px;
    z-index: 8888;
    /* backdrop-filter: blur(100px); */
    transition: .2s;   
    transition-duration:  .3s;
    /* background-color: red; */

  
  }
  .navbar_hidden{
    /* transform: translateY(-100%); */
    top:0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    flex-direction: row;
    margin-top: 0;
    list-style: none;
    width: 100%;
    position: fixed;
    height: 60px;
    z-index: 8888;
    background-color: rgba(250, 250, 250, 0.7); 
    backdrop-filter: blur(15px);
    transition-duration: .3s;
   
  
  }
  .navbar_container::before{
    content: '';
    width: 100%;
    /* background-image: linear-gradient(147deg, #2c3e50  49%, #000000 100%); */
    /* backdrop-filter: blur(15px); */
    position: absolute;
    height: 120px;
    transition-duration: .5s;
    z-index: 0;
    top: -100%;
    /* background: linear-gradient(to bottom, rgb(218, 217, 217), rgb(255, 255, 255)); */
   
    
  }


  .navbar_container::after{
    content: '';
    width: 100%;
    /* background-image: linear-gradient(147deg, #2c3e50  49%, #000000 100%); */
    background-color: transparent;
    /* backdrop-filter: blur(15px); */
    position: absolute;
    height: 150%;
    /* transition-duration: .5s; */
    z-index: -1;
   

  }

  .navbar_hidden::after{

    content: '';
    margin: 0 auto;
    width: 80%;
    height: 2px;
    background-color: #E5E7EA;
    position: absolute;
    bottom: -1px;
    border-radius: 50%;
    z-index: -1;

  }


  .link_wrapper {
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    justify-content: space-evenly;
    height: auto;
    margin: 5px;
    text-align: center;
  }



  .links_container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 60px;
    overflow: hidden;
    padding: 10px;
  
    
   
  }
  
  .navbar_link {
    position: relative;
    text-decoration: none;
    letter-spacing: 1px;
    display: flex;
    color: #687076;
    text-transform: capitalize;
    line-height: 21px;
    font-size: 20px;
    max-width: 150px;
    font-weight: 400;
    width: auto;
    text-align: justify;
    font-family: 'Futura PT', sans-serif;
    transition: .5s;
    overflow: hidden;

  
  }

  .navbar_link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: translateX(-100%);
    height: 100%;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, rgba(109, 109, 109, 0.1), transparent);
    opacity: 0;
    z-index: 1;
    transition:  all 1s;
  }

  .link_wrapper:hover .navbar_link{

    color: black;
  }
  
  .link_wrapper:hover .navbar_link::after {

    opacity: 1;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translate(-50%,0);
    

    
  }
.active_link{

  color: #181818;
}
.active_link::after {
    opacity: 1;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translate(-50%,0);


  }
  
  @media (max-width: 600px) {
  
    .navbar_container {
      /* animation: show 0.5s cubic-bezier(.29,.3,0,.95) forwards; */
      transform: 0.3s ease-in;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      justify-content: space-between;
      height: 100vh;
      width: 100vw;
      /* background-color: #0E2E47; */
       background-color: #f0efef;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
      overflow-y: hidden;
      z-index: 9999;
      padding-block:20%;
      /* transition: transform 0.5s cubic-bezier(.29,.3,0,.95); */
      position: fixed;
      inset: 0;
      border: 1px solid rgba(11,15,25,.1);
      transition-delay: .2s;
      transform: scale(1);
      overflow: hidden;
      opacity: 1;
   
    }

    .navbar_container::before, .navbar_container::after,   .navbar_hidden::after{
      display: none;

    }

    /* .navbar__container::before{

     display: none;
     
    }
     */
    .navbar_hidden {
      display: flex;
      visibility: hidden;
      opacity: 0;
      /* animation: hide 0.5s cubic-bezier(.29,.3,0,.95) ; */
      transform: scale(5);
      transition: 0.3s ease-in ;
      flex-direction: column;
      overflow-x: hidden;
      justify-content: space-between;
      height: 100vh;
      width: 100vw;
      /* background-color: #0E2E47; */
      background-color: #f0efef;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
      overflow-y: hidden;
      z-index: 9999;
      padding-block:20%;
      position: fixed;
      inset: 0;
      border: 1px solid rgba(11,15,25,.1);

      
    }
    
    .links_container{
      height: fit-content;
      position: relative;
      display: flex;
      flex-direction: column;
      width: 90%;
      height: 70%;

      padding-block:10%;
      
      
      
  

    }
    .links_container::before{
      content: '';

    position: absolute;
    background-color: rgba(61, 60, 60, 0.7); 
    top: 0;
    height: 1px;
    width: 100%;
    }
    .links_container::after{
      content: '';

    position: absolute;
    background-color: rgba(61, 60, 60, 0.7); 
    bottom: 0;
    height: 1px;
    width: 100%;
    transform: translateY(-100%);
   
    }
  
    .link_wrapper {
      position: relative;
      height: fit-content;
      width: 100%;
      margin:0;
  
    }
  .navbar__hidden .navbar_link{

    color: white;
  }
    .navbar_link {
      font-family: 'Futura PT', sans-serif; 
      display: flex;
      color: black;
      font-size: 28px;
      text-transform: uppercase;
      opacity: 1;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      margin: 10px;
      width: auto;
      font-weight: 400;

    }
    .link_wrapper:hover  .navbar_link{

      color:black;
      scale: 0.925;
    }
    
    .navbar_link.active{
    
      color: black;
     font-weight: 400;
      opacity: 1;
      transform: scale(1.025);
  
     
      
    
    }
   
  

  }
  
  
  
  @keyframes show {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes hide {
    from {
      transform: translateX(-0);
    }
    to {
      transform: translateX(-100%);
    }
  }