

.success, .error{
 
    animation: fadeIn 0.2s ease-in; 
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: space-evenly;
    height:200px;
    width: 400px;
    padding: 2em;
    margin: 2em;
    background-color: rgba(255, 255, 255, 0.99);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1),
    1px 0px 1px rgba(0, 0, 0, 0.1),
    0px 10px 15px rgba(0, 0, 0, 0.1);
    font-family: 'Manrope', sans-serif;
      
}

.success{
    
    color: black;
}
.error {
    color: #df1818;
    border: 1px solid #df1818;
  
    
               
}

.modal__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width:75px ;
    min-height: 35px;
    margin-top: 3em;
    cursor: pointer;

}
.modal__btn:hover{
    color: white;
    background-color: black;
}

.error .modal__btn{
    border: 1px solid #df1818;
    background-color: #FFEBE8;
    color: #df1818;
}

.success .modal__btn{
    border: 1px solid black;

}
@keyframes fadeIn {
    from {
      opacity: 0;
      scale: 0.8;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }