.logo {
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    z-index: 9999;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.7;
  
    transition: opacity 0.5s ease-in-out;
    transition-delay: 0.5s;
  }
  
    @media (max-width:600px) {
    
      }  