.menu__container{
    z-index: 99999;
    top:0;
    right:0;
    height: 75px;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
}
.menu__btn{
    color: #585858;
    letter-spacing: 2px;

}

.menu__btn:hover{

    filter: brightness(125%);
    color: rgb(8, 8, 8);
}
.menu__text__container{
    
    height: 60%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}
.menu__text
{
    cursor: pointer;
    font-size: 28px;  
    position: relative;
    z-index:  9999;
    height: fit-content;
    width: auto;
    font-weight: 600;
    text-transform: capitalize;
    color:#C6CDD2;
    font-family: Poppins,sans-serif;
    transition: all .3s;
}
.menu__text:hover{
    opacity: 1;
    color:black;
}
@media (max-width: 600px) {

    .menu__container{
        box-sizing: border-box;
        z-index: 99999;
        position: relative;
        align-self: flex-end;
        height: fit-content;
        margin-right: 15px ;
    

        
    }


}