.social_links_container{
    display: flex;
    height: fit-content;
    width: fit-content;
    flex-direction: row;
    position: relative;
}
.link__btn{
    border:none;
    cursor: pointer;
    display: flex;
    /* font-family: 'Rajdhani', sans-serif; */
    opacity: 0.7;
    list-style: none;
    text-decoration: none;
    color: black;
    
}

.icon__container{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: fit-content;
  width: fit-content; 
}
.userHandle__container{
  margin: 0px;
  font-size: 14px;
  line-height: 20px;
  font-family: sans-serif;
 

}

.social__icon svg {
    width: 20px;
    height: 20px;
    opacity: 1;
    transition: .5s;
    padding-bottom: 3px;
    margin: 0;


  }
  
  


@media (max-width: 600px) {

.social_links_container{
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    padding: 10px;

   
}
.icon__container{

  padding: 0px 0px 0px 0px;
 

 
}
.social__icon svg {
  width: 20px;
  height: 20px;


}
}