.format_text{

        margin: 5%;
        text-align: center;
        padding: 5%;
        width: 100%;
        font-size: 18px;
}

.portfolio__first__section{
        height:100%;
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        position: relative;

        color: black;
        background-color: white;
        
        
       
       
}

.hero__text__container{
        font-family:  'Manrope';
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        width: 80%;
        text-align: center;
        height: 600px;
      
        

        
}       

.hero__text{
        letter-spacing: 3px;
        font-size: 70px;
        transition: .3s;
        margin-bottom: 2%;  
        font-weight: 900;
}


.text{
       
        color: rgba(255, 255, 255, 0.7);;

}

.features{

        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 100px;
}
.grid_item{
       
        padding-inline:10px;
        font-weight: 700;
        font-size: 18px;
        white-space: nowrap;
        display: flex;
        place-items: center;
        

}

.card_container{
        height: 1600px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        width: fit-content;
        /* background-color: red; */
 }
 .cards{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        height: 400px;
 }
 .card_item{
        height: 500px;
        background-color: #181818;
        color: #fff;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-inline: 5%;
        


 }

 .card_item::before {

        margin-right: 8px;

        z-index: 1;
        width: 50px;
        height: 50px;
      }

.ptag_portfolio_title{
        display: flex;
        text-align: left;
        font-size: 34px;
        font-weight: 400;
        line-height:34px;
        font-family: 'Futura PT';
        padding-block: 5%;
 
}
.portfolio_ptag{
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        text-align: left;
        font-family: 'Manrope';

}

.portfolio__second__section{ 

        height:100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
         grid-template-areas: 
         'one two'
         'three four';
        position: relative;
        padding: 5%;
        



}


.services_container{

        display: flex;
        flex-direction: column;
        padding: 5%;
        margin-block: 5%;
        width: 90%;
        height: 500px;
        border-radius: 7px;

}
.services__container:nth-child(1){
        grid-area: one;
}
.services__container:nth-child(2){
        grid-area: four;
}
@media (max-width: 600px) {

    .first__section{
        height: 100vh;
        padding-top:20%;
        width: 100vw;

    }
    .ptag_portfolio_title{
        font-size: 24px;
        
     
    }

    .portfolio_ptag{

        font-size: 16px;
        font-weight: 400;
    }
    .format_text{

        font-size: 16px;
}
    .hero__text__container{
            padding-bottom: 10%;
            width: 100%;
            height: 400px;
            justify-content: center;
            flex-direction: column;


    }
    .hero__text{
     
            transition: .3s;
            word-wrap: none;
            font-size: 50px;
    }
    .features{

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        font-size: 16px;
        justify-content: center;
        place-items: center;
        height: 200px;
        margin:5%;
        width: 90vw;
        grid-template-areas: 
        'one  two'
        'three  three'
        'five five'

        ;

}


.grid_item{
       
        padding-inline:10px;
        font-weight: 700;
        font-size: 18px;
        white-space: nowrap;
        

}
.grid_item:nth-child(5){
        grid-area: three ;
        

}

.card_container{
        height: fit-content;
}

 .card{
        display: flex;
        height: auto;
        align-items: center;
        width: fit-content;
        margin-block: 10%;
      
      
 }
 .cards{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: auto;
        align-items: center;

 }
 .card_item{
        background-color: transparent;
        margin-block: 5%;
        height: fit-content;
        color: #181818;
      
   
 }
 .color{
        color:#151718;
 }
    .portfolio__second__section{
        display: flex;
        padding: 5%;
        padding-top: 10%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        
    }

}